* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

ol {
  padding-inline-start: 30px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
  padding-left: 36%;
  padding-top: 2%;
}
.game-info {
  margin-left: 20px;
}

@media only screen and (max-width: 640px) {
  .square {
    font-size: 15px;
    height: 40px;
    width: 40px;
  }
  .game {
    padding-left: 5px;
  }
  .game-info {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 350px) {
  ol li {
    font-size: 11px;
  }
  ol li button {
    font-size: 11px;
  }
}